*.sw*
.DS_Store

/classes/
/dist/

!.idea
.idea/*
!.idea/runConfigurations
src/.idea/

out/
*.iml
build/
dot/

*ssa*.pdf
*dom*.pdf
*cfg*.pdf
tests/
test.asm
main
symbolTables.pdf
dotsource.dot
ig.pdf
test.s

